<%= render "partials/nav" %>
<div class="container py-5">
  <div class="row pt-5">   
    <div class="col-md-7">
      <% @blogs.each do |blog| %>
      <div class="blog-index-card my-4 border">
        <div class="row">
          <div class="col-4">
            <%=link_to image_tag(blog.photo_link, class: "img-fluid"), blog %>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-center d-none d-md-block"><%= blog.title %></h5>
            <h6 class="mb-3 text-center d-md-none"><%= blog.title %></h6>
            <%=link_to blog.body.truncate(100, separator: ' '), blog, class: "links-general-slide-right d-none d-md-inline-block" %>
            </div>
        </div>
      </div>
      <% end %>
    </div>    
    <div class="col-md-4 mt-5">
      <div style="position: -webkit-sticky; position: sticky; top: 100px;">
        <h3 class="text-center heading-standout">There Is More To Read</h3>
        <% @categories.each do |category| %>
          <%=link_to category.name, category, class: "links-general-slide-right d-inline-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
