<%= render "partials/nav" %>
<%= render "partials/publicity" %>
<div class="container blog-show-page-div">
	<div class="row">
		<div class="col-md-9 col-11 mb-5 p-4">
			<h1 class="text-center blod blog-header-1 d-none d-md-block"><%= @blog.title %></h1>
			<h1 class="text-center blod d-md-none"><%= @blog.title %></h1>
			<h4 class="text-muted m-0 p-0"><%= @blog.time %> minutes read</h4>
			<%= image_tag(@blog.photo_link, class: "img-fluid") %>
			<div class="blog-body my-5 border-bottom">
			  <%= markdown(@blog.body) %>
			</div>
			<h5>
				Leave us a like if you find this article interesting. 
				<%= link_to likeblog_path(@blog.id), :class=> "you_class" do %>
				    <i class="text-info fas fa-heart" style="font-size: 1.2em;"></i>
				<% end %>
      </h5>
      <a href="<%= @blog.authors_link %>">
        <p>Please hit me up on linkedIn in case you have any question. Thanks for reading my article.</p>
      </a>
		</div>
		<div class="col-md-3">
			<div style="position: -webkit-sticky; position: sticky; top: 100px;">
				<div class="row">
					<div class="col-3">
						<h3 class="blog-numbers"><%= @blog.review %></h3>
						<h5 class="my-0"><span class="badge badge-secondary bg-info my-0">views</span></h5>
					</div>
					<div class="col-2">
						<h3 class="blog-numbers"><%= @blog.likes %></h3>
						<%= link_to likeblog_path(@blog.id), :class=> "you_class" do %>
						    <i class="fas fa-heart text-info wow animate__rubberBand" data-wow-duration="4s" data-wow-iteration="infinite" style="font-size: 1.5em;"></i>
						<% end %>
					</div>
					<div class="col-4 text-center">
						<a href="<%=@blog.authors_link %>" target="_blank"> 
							<%= image_tag(@blog.author_photo, style: "width: 100%; border: 2px solid #00ace0; border-radius: 50%;") %>
							<span class="badge badge-secondary bg-info my-0"><%= @blog.author %></span>
						</a>
					</div>
					<div class="col-12">
						<h4 class="heading-standout mt-4">Related topics</h4>
					</div>
          <div class="col-12">
              <% if @category_blogs %>
                <% @category_blogs.each do |category_blog| %>
                  <div class="blog-index-card my-1 border">
                    <div class="row">
                      <div class="col-4 p-0 m-0">
                        <%=link_to image_tag(category_blog.photo_link, style: "width: 100%;"), category_blog %>
                      </div>
                      <div class="col-7 mx-auto m-0 p-0">
                        <%=link_to(category_blog.title, category_blog, style: "font-size: 0.8em;", class: "links-general-slide-right d-none d-md-inline-block") %>
                        <%=link_to(category_blog.title, category_blog, style: "font-size: 1.1em;", class: "links-general-slide-right d-md-none") %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>
				</div>				
				<%=link_to "edit blog", edit_blog_path(@blog) %>
			</div>
		</div>
	</div>
</div>





