<%= render "partials/nav" %>
<div class="container blog-show-page-div">
	<div class="row">
		<div class="col-md-9 mb-5 p-4">
			<h1 class="text-center my-5 blod blog-header-1"><%= @blog.title %></h1>
			<%= image_tag(@blog.photo_link, class: "img-fluid") %>
			<div class="blog-body my-5">
			  <%= markdown(@blog.body) %>
			</div>
			<h5>
				Leave us a like if you find this article interesting. 
				<%= link_to likeblog_path(@blog.id), :class=> "you_class" do %>
				    <i class="fas fa-heart" style="font-size: 1.5em;"></i>
				<% end %>
			</h5>
		</div>
		<div class="col-md-3">
			<div style="position: -webkit-sticky; position: sticky; top: 100px;">
				<div class="row">
					<div class="col-3">
						<h3 class="blog-numbers"><%= @blog.review %></h3>
						<h5 class="my-0"><span class="badge badge-secondary bg-info my-0">views</span></h5>
					</div>
					<div class="col-2">
						<h3 class="blog-numbers"><%= @blog.likes %></h3>
						<%= link_to likeblog_path(@blog.id), :class=> "you_class" do %>
						    <i class="fas fa-heart text-info wow animate__rubberBand" data-wow-duration="4s" data-wow-iteration="infinite" style="font-size: 1.5em;"></i>
						<% end %>
					</div>
					<div class="col-4">
						<%= image_tag(@blog.author_photo, style: "width: 100%; border: 2px solid #00ace0; border-radius: 50%;") %>
						<span class="badge badge-secondary bg-info my-0"><%= @blog.author %></span>
					</div>
					<div class="col-12">
						<h4 class="heading-standout mt-4">Related topics</h4>
					</div>
					<% @category_blogs.each do |category_blog| %>
						<div class="blog-index-card my-4 border">
							<div class="row">
								<div class="col-4 p-0 m-0 bg-danger">
									<%=link_to image_tag(category_blog.photo_link, style: "width: 100%;"), category_blog %>
								</div>
								<div class="col-7 mx-auto m-0 p-0">
									<%=link_to(category_blog.title, category_blog, style: "font-size: 0.8em;", class: "links-general-slide-right d-none d-md-inline-block") %>
									<%=link_to(category_blog.title, category_blog, style: "font-size: 1.1em;", class: "links-general-slide-right d-md-none") %>
								</div>
							</div>
						</div>
					<% end %>
				</div>				
				<%=link_to "edit blog", edit_blog_path(@blog) %>
			</div>
		</div>
	</div>
</div>





