    <section id="home">
		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner" style="height: 50rem">
					
				</div>
			</div>
		</div>

		<div class="caption text-center">
			<h1>Welcome to Group-Itstech</h1>
			<h3>Accessing Quality Education From Anywhere at a low cost</h3>

			
			<%= link_to "Read More", about_path, class: "btn btn-outline-light btn-lg" %>
		</div>
	</section>

	<section id="short-service-description-div" class="text-center">
		<h3 id="description" class="mb-5 h2">Group-Itstech Is A Web Development Company engaged in the building of solution solving educational web application which offers services to the African public.</h3>
		<%= link_to "Read More", about_path, class: "read-more" %>
	</section>

	<section id= "technology-div" class="services">
		    
			<div id="services-content-holder">
				<h5>Looking for a team of professionals</h5>
			    <div class="service-content" id="service-content-title">
					<h1>Our Technology</h1>
					<i class="fa fa-cogs"></i>
				</div>
				<div class="row">
					<div class="d-none d-md-block col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://jquery.com/" target="_blank">jQuery</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="https://jquery.com/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503408/kisspng-web-development-jquery-ui-javascript-computer-icon-jqlogo-5ae94a5d86de89.8903081715252383655524_tnlav6.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p  class="see-more-paragraph"><a href="https://jquery.com/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a></h3>
							<div class="service-pic-div-one">
							    <a href="https://www.ruby-lang.org/en/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503407/kisspng-ruby-on-rails-logo-computer-programming-programmin-rails-5ac5a0cee22610.3850994615229011989263_xlrpze.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://www.ruby-lang.org/en/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="d-none d-md-block col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503407/kisspng-web-development-responsive-web-design-advanced-css-5b1e73aae576a6.4591989815287223469399_ckamqv.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://rubyonrails.org/" target="_blank">Rails</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="https://rubyonrails.org/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503407/kisspng-ruby-on-rails-logo-software-framework-unicorn-ruby-on-rails-5-5b804d22f3d271.6421905815351350109987_db6tis.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://rubyonrails.org/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript" target="_blank">Javascript</a></h3>
							<div class="service-pic-div-one">
							    <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503406/kisspng-javascript-logo-html-comment-blog-5ae63c23139110.5436874015250381150802_azwjln.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://reactjs.org/" target="_blank">React</a></h3>
							<div class="service-pic-div-one">
							    <a href="https://reactjs.org/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503406/kisspng-react-javascript-responsive-web-design-github-angu-github-5accac250cda95.4452823815233628530527_k9yekx.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://reactjs.org/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://www.postgresql.org/about/" target="_blank">Postgresql</a></h3>
							<div class="service-pic-div-one">
							    <a href="https://www.postgresql.org/about/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503406/kisspng-postgresql-object-relational-database-oracle-datab-portfolio-whitebolt-whitebolt-5b65f8219026e9.0825897615334093135905_htau2z.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://www.postgresql.org/about/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://skillcrush.com/2012/04/03/css/" target="_blank">CSS3</a></h3>
							<div class="service-pic-div-one">
							    <a href="https://skillcrush.com/2012/04/03/css/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503406/kisspng-css3-cascading-style-sheets-logo-html-logo-5abbf51be97508.5403277715222674199563_pvmc69.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a 
							    	href="https://skillcrush.com/2012/04/03/css/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="d-none d-md-block col-6 col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Bootstrap 4</a></h3>
							<div class="service-pic-div-one">
							    <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">
							    <%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1580503406/kisspng-bootstrap-logo-computer-software-web-application-p-b-5abb6c2ab15640.3860806115222323627264_qc1zfd.png", class: "service-pic img-thumbnail", alt: "missing picture") %>
							    </a>
							    <p class="see-more-paragraph"><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
				</div>				
			</div>		
	</section>

	<section id="home-page-services-wrapper" class="container-fluid pt-3 pb-3">
			<div class="container">
				<h2 class="text-center text-white">Our Services</h2>
				<div class="row">
					<div class="col-md-6 mb-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title">FREELANCING</h4>
								<p class="card-text service-paragraph">We are passionate about building your project under the following category</p>
								<ol>
									<li>Websites with blogs.</li>
									<li>Android Applications.</li>
									<li>Ecommerce</li>
									<li>APIs</li>
								</ol>
								<!-- <a href="#" class="read-more">Read More</a> -->
								<%= link_to "Read More", services_path, class: "read-more" %>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title">EDUAFRIK.COM</h4>
								<p class="card-text service-paragraph">This category of projects is what defines our nich. It is made up of project we build to solve societal issues. We have three projects in this list waiting for sponsorship</p>
								<ol>
									<li>Afriklearn</li>
									<li>Afrikestate</li>
									<li>myvote</li>
								</ol>

								<!-- <a href="#" class="read-more">Read More</a> -->
								<%= link_to "Read More", projects_path, class: "read-more" %>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="differences-section-div">
		<div id="differences-row-div" class="row">
			<div id="imagination-slogan-div" class="col-md-6 d-flex justify-content-center align-items-center">
				<h1 class="text-white text-center">Our limit Is Your Imagination</h1>
			</div>
			<div id="differences-div" class="col-md-6 text-center">
				<h3 class="mt-5">What Makes Us Different</h3>
				<div class="row">
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">DELIVER WOW THROUGH IDEAS</h4>
								<p class="card-text">We want to wow our clients with our ideas. We believe anything worth doing—from customer service, to strategy or design, should have WOW factor.</p>
							</div>
						</div>
						
					</div>
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">EMBRACE AND DRIVE CHANGE.</h4>
								<p class="card-text">We are always thinking of ways to change processes, perspectives, and opinions for the best. We enjoy challenges, which sharpen us to grow and changing us to be the best in the world of technology.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">PURSUE GROWTH AND KNOWLEDGE.</h4>
								<p class="card-text">We take delight in learning new ways and never stop growing. We don't want anyone to feel stuck in a rut, and are constantly looking for ways to challenge ourselves to learn, grow and push the boundaries of what we think is achievable.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">Affordable - not cheap.</h4>
								<p class="card-text">Our goal is to deliver excellence to our clients, and to allow them to pass our affordability and high quality towards their customers. HighupWeb is here to help you get ahead of the competition.</p>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>		
	</section>

	
