<div class="container">
    <h2>Topics Related to <%= @category.name %></h2>
    <% @category_blogs.each do |blog| %>
        <div class="blog-index-card my-4 border">
          <div class="row">
            <div class="col-4">
              <%=link_to image_tag(blog.photo_link, class: "img-fluid"), blog %>
            </div>
            <div class="col-8">
              <h5 class="mb-3 text-center d-none d-md-block"><%= blog.title %></h5>
              <h6 class="mb-3 text-center d-md-none"><%= blog.title %></h6>
              <%=link_to blog.body.truncate(100, separator: ' '), blog, class: "links-general-slide-right d-none d-md-inline-block" %>
              </div>
          </div>
        </div>
    <% end %>
</div>