<!DOCTYPE html>
<html>
  <head>
    <title>Itstech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Group-Itstech is a web based cameroonian tech company.">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/nav" %>

    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
